<div class="sidebar-wrapper">
  <div class="header"><a class="site-name" href="/">Milton</a>
    <div class="grey-rule w-hidden-small w-hidden-tiny"></div>
    <p class="site-description">Denali is a simple responsive blog template. </p>
    <div class="grey-rule w-hidden-small w-hidden-tiny"></div>
    <nav class="navigation">
      <a class="nav-link" routerLink="">home</a>
      <a class="nav-link" routerLink="/add-post">Add Post </a>
      <div class="grey-rule w-hidden-small w-hidden-tiny"></div>
    </nav>
    <div class="social-link-group">
      <a class="social-icon-link w-inline-block" href="#"><img src="http://uploads.webflow.com/56305ffe6dadbb201124ed56/56305ffe6dadbb201124ed8a_social-03.svg"
          width="25"></a>
      <a class="social-icon-link w-inline-block" href="#"><img src="http://uploads.webflow.com/56305ffe6dadbb201124ed56/56305ffe6dadbb201124ed8f_social-07.svg"
          width="25"></a>
      <a class="social-icon-link w-inline-block" href="#"><img src="http://uploads.webflow.com/56305ffe6dadbb201124ed56/56305ffe6dadbb201124eda1_social-18.svg"
          width="25"></a>
      <a class="social-icon-link w-inline-block" href="#"><img src="http://uploads.webflow.com/56305ffe6dadbb201124ed56/56305ffe6dadbb201124edb5_social-09.svg"
          width="25"></a>
      <a class="social-icon-link w-inline-block" href="/contact"><img src="http://uploads.webflow.com/56305ffe6dadbb201124ed56/56305ffe6dadbb201124ed7d_social-30.svg"
          width="25"></a>
    </div>
    <p class="built-with-webflow w-hidden-small w-hidden-tiny">Built with <a class="webflow-link" target="_blank" href="https://webflow.com">Webflow</a></p>
  </div>
</div>