
    <div class="content-wrapper">
        <div class="post-wrapper">
            <img *ngIf="post.image" [src]="post.image" >
           
            <div class="post-content">
                <h1 class="blog-title">{{post.title}}</h1>
                <div>
                    <div class="post-info">{{post.date | date }}</div>
                  
                <div class="grey-rule"></div>
                <div class="body-copy w-richtext">
                    <p>{{post.description}}</p>
                </div>
            </div>
        </div>
        <div class="button-wrapper"><a class="button w-button" routerLink="">←&nbsp;All posts&nbsp;</a></div>
    </div>
