

<div class="container mt-5 pt-5 " >

    <div class="row">
  
      <div class="col-lg-8">

        <h1 class="mt-4">{{post.title}}</h1>
  
        <p class="lead">
          by
          <a href="#">{{post.posted_by}}</a>
        </p>
  
        <hr>

        <p>Posted on {{post.date | date}}</p>
  
        <hr>
  
        <img class="img-fluid rounded" src="{{post.image}}" alt="">
  
        <hr>

        <p class="lead">{{post.description}}</p>

  
      </div>
      
    </div>
   
  
  </div>

  
  
  
  