<div class="content-wrapper">
  <div class="w-dyn-list">
    <div class="w-dyn-items">
      <div class="w-dyn-item" *ngFor="let post of posts">
        <div class="post-wrapper">
         
          <img *ngIf="post.image" class="blog-image" [src]="post.image" >
          <a class=" w-inline-block" 
          [routerLink]="['/','post',post.$key]"></a>
          <div class="post-content">
            <a class="blog-title-link w-inline-block" [routerLink]="['/','post',post.$key]">
              <h1 class="blog-title">{{post.title}}</h1>
            </a>
            <div class="post-summary-wrapper">
              <p class="post-summary">{{getDescription(post.description)}}</p>
              <br> 
              <a [routerLink]="['/','post',post.$key]" class="btn-read_more">Read More </a>
              <a [routerLink]="['/','post',post.$key,'edit']" class="btn-read_more" style="    background-color: #21d02f;">Edit  </a>
              <a (click)="deletePost(post.$key)" class="btn-read_more"  style="    background-color: red;">Delete </a>
              <div class="post-info-wrapper">
                <div class="post-info">{{post.date | date}}</div>

              </div>
            </div>
          </div>

        </div>
      </div>

    </div>